body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0; padding:0 }
h1, h2, h3, h4, h5, h6, textarea {
  font-size: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei", "Arial", sans-serif;
}
.no-default {
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
  }
}
li {list-style: none;}
img { border: none;user-select: none; }
input, button, textarea, select { font-size: 100%; border: none;  }
.status-success {
  color: var(--el-color-success, green);
}
.status-pending {
  color: var(--el-color-warning, orange);
}


.preview {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    overflow-y: auto;

    &-box {
        flex-shrink: 1;
        min-height: 100vh;
        width: 700px;
        // background-color: rgba(255, 255, 255, .6);
        // box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px 50px 20px;
        border-radius: 4px;
        margin: 0 auto;
    }

    &-img {
        object-fit: contain;
        width: 700px;
        height: 80vh;
    }
}