* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app,
.wrapper {
    font-size: 14px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

.pr {
    position: relative;
}
  
.pa {
    position: absolute;
}
  
.pf {
    position: fixed;
}


.content-box {
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    /* overflow: auto; */
    /* width: 100%; */
}

.content {
    /* width: auto; */
    /* width: auto; */
    height: calc(100% - 30px);
    overflow: auto;
}

.app-main {
    /* width: 100vw; */
    margin: 20px;
    background: #fff;
    border-radius: 6px;
    padding: 20px 20px 40px;
}

.content-collapse {
    left: 65px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 50px);
}

.tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    .el-tabs {
        height: 100%;
        .el-tabs__content {
            height: calc(100% - 55px);
            .el-tab-pane {
                height: 100%;
            }
        }
    }
}

.tabs-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table-box {
    flex: 1;
}

.el-table__header {
    .cell {
        font-size: 13px;
        font-weight: 600;
    }
}

.cell {
    .imgs {
        display: block;
        img {
            max-height:40px;
            max-width: 80px;
            vertical-align: middle;
        }
    }
    .el-button{
        // margin: 0;
        padding: 0;
    }
    .files-upload {
        display: flex;
        align-items: center;
    }
    .el-form-item {
        margin-bottom: 0;
    }
}

.el-date-editor--datetimerange {
    width: 350px !important;
    padding-right: 0 !important;
    .el-range__icon {
        margin-right: 8px;
    }
    .el-range__close-icon {
        margin: 0 10px 0 8px;
    }
}

.el-date-editor--daterange {
    width: 240px !important;
}

.filter-form .el-form-item {
    margin-right: 15px !important;

    .select-box {
        width: 200px;
    }
}

.special {
    color: #409eff;
}

.pointer:hover {
    cursor: pointer;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}


.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .1s ease;
}

.move-enter-from,
.move-leave-to {
    opacity: 0;
}

.el-form-item__label{
    font-weight: 600;
}

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}


[class*=" el-icon-"], [class^=el-icon-] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-sub-menu [class^=el-icon-] {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}

[hidden]{
    display: none !important;
}

.el-table .cell {
    user-select: text;
}

.el-input-number.is-without-controls .el-input .el-input__wrapper .el-input__inner {
    text-align: left;
}

.el-input-number.is-without-controls .el-input .el-input__wrapper {
    padding-left: 11px !important;
    padding-right: 11px!important;
}

.el-table .total-row >.el-table__cell {
    background-color: #40ceff;
}

.el-dialog{
    padding: 0;
    .el-dialog__header {
        // line-height: 54px;
        padding: 20px 20px 10px;
        margin-right: 0;
        position: relative;
        .el-dialog__headerbtn {
            top: 0px;
            width: 54px;
            height: 54px;
        }
    }
}

.dialog-hook{
    min-width: 600px;
    .el-dialog__body {
        border-top: 1px solid #ebeef5;
        box-sizing: border-box;
        padding: 20px 40px;
    }
    .el-dialog__footer {
        border-top: 1px solid #ebeef5;
        padding: 20px 40px;
        .el-button {
            min-width: 70px;
            height: 36px;
        }
    }
    
    .dialogContent {
        width: 100%;
        height: 100%;
    }
    
    .isCenterBtn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .other_btn {
        margin-left: 20px;
    }
}

.tips-box {
    background: #e9f6fe;
    border: 1px solid #49a4ea;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.el-message {
    z-index: 9999 !important;
}

.flex {
    width: 100%;
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}